version: '3'

services:
  proxy:
    image: nginx:alpine
    container_name: proxy-nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./conf:/etc/nginx/conf.d:ro
      - ./vhost:/etc/nginx/vhost.d:ro
      - ./certs:/etc/nginx/certs:ro
      - ./html:/usr/share/nginx/html:ro
      - static-files-vol:/usr/share/nginx/static:ro
      - {{UPLOADS_DIR}}/media:/usr/share/nginx/media:ro
    networks:
      proxy-nginx:

  dockergen:
    image:  nginxproxy/docker-gen
    container_name: proxy-dockergen
    restart: always
    command: -notify-sighup {{PROXY_NETWORK}} -wait 5s:30s -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    # https://raw.githubusercontent.com/jwilder/nginx-proxy/master/nginx.tmpl
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./templates:/etc/docker-gen/templates
      - ./conf:/etc/nginx/conf.d
      - ./vhost:/etc/nginx/vhost.d:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      proxy-nginx:
    environment:
      - DEFAULT_HOST=hello.local
      - MAX_BODY_SIZE={{MAX_BODY_SIZE}}
      - METRICS_ENDPOINT_POLICY={{METRICS_ENDPOINT_POLICY}}
      - USE_DEFAULT_CERT={{USE_DEFAULT_CERT}}


  letsencrypt:
    image: nginxproxy/acme-companion
    container_name: proxy-acme
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./templates:/etc/docker-gen/templates:ro
      - ./conf:/etc/nginx/conf.d
      - ./vhost:/etc/nginx/vhost.d
      - ./certs:/etc/nginx/certs
      - ./html:/usr/share/nginx/html
      - ./acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL={{LETSENCRYPT_EMAIL}}
      - NGINX_PROXY_CONTAINER=proxy-nginx
      - NGINX_DOCKER_GEN_CONTAINER=proxy-dockergen
    networks:
      proxy-nginx:

networks:
  proxy-nginx:
    name: {{PROXY_NETWORK}}
volumes:
  static-files-vol:
    external: true
