global:

  external_labels:
      monitor: 'my-project'

rule_files:
  - 'alert.rules'

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"

# LiberaForms stats retention
remote_write:
 - url: "http://monitor-victoriametrics:8428/api/v1/write"
   write_relabel_configs:
    - source_labels: ['__name__']
      regex: 'liberaforms_(.*)'
      action: keep

scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'cadvisor'
    scrape_interval: 10s
    static_configs:
      - targets: ['monitor-cadvisor:8080']


  - job_name: 'node-exporter'
    scrape_interval: 10s
    static_configs:
      - targets: ['monitor-node-exporter:9100']


{% for tenant in tenants %}
  - job_name: '{{ tenant["FQDN"] }}'
    scrape_interval: 30m
    static_configs:
      - targets: ['{{ tenant["container_name"] }}:5000']

{% endfor %}
