DATABASE_NETWORK="{{DATABASE_NETWORK}}"
DATABASE_VOLUME="{{DATABASE_VOLUME}}"

POSTGRES_HOSTNAME="{{POSTGRES_HOSTNAME}}"
POSTGRES_PORT=5432
POSTGRES_ROOT_USER="{{POSTGRES_ROOT_USER}}"
POSTGRES_ROOT_PASSWORD="{{POSTGRES_ROOT_PASSWORD}}"

POSTGRES_BACKUPS_DIR="{{POSTGRES_BACKUPS_DIR}}"
