version: "3.8"

services:
  liberaforms:
    image: liberaforms-app:${LIBERAFORMS_VERSION}
    container_name: {{CONTAINER_NAME}}
    restart: unless-stopped
    env_file:
      - ./environment.ini
    expose:
      - 5000
    volumes:
      - {{UPLOADS_DIR}}:/app/uploads
      - {{LOGS_DIR}}:/app/logs
    networks:
      - back-tier
      - nginx-net

networks:
  back-tier:
    external:
      name: back-tier
  nginx-net:
    external:
      name: {{PROXY_NETWORK}}
