FQDN="{{FQDN}}"
LIBERAFORMS_VERSION="{{LIBERAFORMS_VERSION}}"

CONTAINER_NAME={{CONTAINER_NAME}}

FLASK_CONFIG={{FLASK_CONFIG}}
FLASK_DEBUG={{FLASK_DEBUG}}
LOG_LEVEL={{LOG_LEVEL}}

GUNICORN_WORKERS=3

DB_HOST={{DB_HOST}}
DB_NAME={{DB_NAME}}
DB_USER={{DB_USER}}
DB_PASSWORD={{DB_PASSWORD}}

BASE_URL={{BASE_URL}}

ROOT_USER="{{ROOT_USER_EMAIL}}"

DEFAULT_LANGUAGE={{DEFAULT_LANGUAGE}}
# see assets/timezones.txt for valid options
DEFAULT_TIMEZONE="{{DEFAULT_TIMEZONE}}"

CRYPTO_KEY={{CRYPTO_KEY}}

SECRET_KEY={{SECRET_KEY}}
SESSION_TYPE=memcached
MEMCACHED_HOST=liberaforms_memcached
SESSION_KEY_PREFIX={{SESSION_KEY_PREFIX}}

NGINX_MAX_BODY_SIZE="2m"
# Policy for prometheus endpoint `/metrics`
NGINX_METRICS_ENDPOINT_POLICY = "return 404;"

# See liberaforms/docs/upload.md
ENABLE_UPLOADS=False
TOTAL_UPLOADS_LIMIT="1 GB"
DEFAULT_USER_UPLOADS_LIMIT="50 MB"
# 1024 * 500 = 512000 = 500 KiB
MAX_MEDIA_SIZE=512000
# 1024 * 1024 * 1.5 = 1572864 = 1.5 MiB
MAX_ATTACHMENT_SIZE=1572864

ENABLE_REMOTE_STORAGE=False
MINIO_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Maximum valid age for password resets, invitations, ..
# 86400 seconds = 24h
TOKEN_EXPIRATION = 604800

# Required by nginxproxy/docker-gen
VIRTUAL_HOST="{{FQDN}}"
# Required by nginxproxy/acme-companion
LETSENCRYPT_HOST="{{FQDN}}"

# ENABLE_RSS_FEED
# When enabled, public forms are publish via RSS
ENABLE_RSS_FEED=False

TMP_DIR="/tmp"
LOG_DIR="/app/logs"
LOG_SERVER_PORT=9000
ENABLE_PROMETHEUS_METRICS=True
ENABLE_RSS_FEED=False

# LDAP see docs/ldap.md for documentation
ENABLE_LDAP=False
LDAP_SERVER=ldap://localhost
LDAP_ANONYMOUS_BIND=False
LDAP_BIND_ACCOUNT="cn=nobody,dc=example,dc=com"
LDAP_BIND_PASSWORD="secret-password"
LDAP_USER_DN_LIST=["uid=%uid,ou=users,o=company,dc=example,dc=com"]
LDAP_SEARCH_BASE_DN="o=company,dc=example,dc=com"
LDAP_FILTER="(&(objectclass=inetOrgPerson)(|(uid=%uid)(mail=%uid)))"
LDAP_MAIL_ATTRIB=mail
LDAP_RECOVER_PASSWD_URL=https://example.com/recover-your-ldap-password

# DEBUGGING
# Optional. Recieve Internal Server 500 errors. Good for debugging.
#ALERT_MAILS = ["your_email_address", "another_email_address"]
